{% extends '::base.html.twig' %}

{% block title %}Lista Quizów{% endblock %}
{% block body -%}

    <table data-role="table" id="questions_table" class="ui-body-d ui-shadow table-stripe ui-responsive" data-mode="columntoggle" >
     <thead>
       <tr class="ui-bar-d">
         <th>Nr</th>
         <th style="width:45%">Tytuł</th>
         <th style="width:30%">Dodany</th>
         <th style="width:20%"></th>
       </tr>
     </thead>
     <tbody>

        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="trunc">{{ entity.title }}</td>
                <td class="trunc">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td><a data-role="button" data-mini="true" href="{{ path('quiz_approach', {'id': entity.id}) }}">Rozwiąż</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
